<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
  <div>
    <h1 style="color:#f1faee"><%=title%></h1>
    <p style="color:#f1faee"><%=description%></p>
    <a href ="http://localhost:3000" style="color:#f1faee"> <%=link%></a>
  </div>
</body>

</html>